<h1>Select a Topping</h1>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br>
<br>
<br>
<br>
<br>
<br>



<mat-list class="toppings-list" role="list">
  <mat-list-item role="listitem">
    <div class="toppings-item">
      <mat-checkbox (change)="OnChange($event)" *ngFor="let topping of toppings" value={{topping.name}}
        id={{topping.id}}>{{topping.name}}</mat-checkbox>
    </div>
  </mat-list-item>
</mat-list>

<br>
<br>
<br>
<br>

<mat-select name="toppingString" [(value)]="selectedTopping">

  <mat-form-field appearance="fill">
    <mat-label>Toppings</mat-label>
    <mat-select [formControl]="toppingsForm" [(value)]="selectedTopping" multiple>
      <mat-option *ngFor="let topping of toppings" [value]="topping">{{topping.name}}</mat-option>
    </mat-select>
  </mat-form-field>

</mat-select>
