
<mat-dialog-content class="mat-typography">

<div>{{ pizza.name }}</div>
<div>
  <img src="../../../assets/img/pizza/{{pizza.imagePath}}" [alt]="pizza.name" class="mod-image" layout-fill>
</div>
<div>{{ pizza.description }}</div>



  <div>Calories: {{ pizza.calories }}</div>
  <div>Fat: {{ pizza.fat }}</div>
  <div>Trans: {{ pizza.transfat }}</div>
  <div>Sodium: {{ pizza.sodium }}</div>
  <div>Price: {{ pizza.price }}</div>

  <mat-list>
<mat-list-item
[ngStyle]="{'background-color':'primary'}"
*ngFor="let topping of pizza.toppings; let i = index"
>
<div>
  <img src="../../../assets/img/toppings/{{topping.imagePath}}" [alt]="pizza.name" class="story__img" layout-fill>
</div>
<div>
  {{ topping.name}}

</div>
<div>
  Topping: {{topping.imagePath}}
</div>
<div>
  {{ topping.description}}
</div>
</mat-list-item>
</mat-list>

</mat-dialog-content>

