<h1 mat-dialog-title>{{ pizza.subName }}</h1>
<mat-dialog-content class="nutrition-modal">

  <div class="toppings-banner">

    <img src="assets/img/pizza/{{pizza.imagePath}}" [alt]="pizza.name" class="modal-image" layout-fill>
    <h4 class="nutrition-banner-name">
      <div class="nutrition-banner-name-span nutrition-banner-name-span--1">{{ pizza.name }}</div>
    </h4>
    <h4 class="nutrition-banner-name">
      <div class="nutrition-banner-name-span nutrition-banner-name-span--2">Just ${{ pizza.price }}!</div>
    </h4>

  </div>
  <div>{{ pizza.description }}</div>

  <br>
  <div class="nutrition">
    Calories: {{ pizza.calories }} |
    Fat: {{ pizza.fat }} |
    Transfat: {{ pizza.transfat }} |
    Sodium: {{ pizza.sodium }}
  </div>

  <div class="toppings-title">

    Toppings
  </div>
  <br>
  <div [ngStyle]="{'background-color':'primary'}" *ngFor="let topping of pizza.toppings;
  let i = index" class="toppings-list">
    <div class="toppings-image">
      <img mat-card-image class="toppings-img" src="assets/img/toppings/{{topping.imagePath}}" [alt]="pizza.name">
    </div>
    <div class="toppings-name">
      {{ topping.name }}
    </div>
    <div class="toppings-description">
      {{ topping.description }}
    </div>
  </div>
</mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Order Now</button>
  </mat-dialog-actions>
*** There's giant space here and i don't know whay.
