
.modal-image {
  width: 100%;
}

.nutrition-banner-name {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;

  width: 75%;
}

.nutrition {
  font-weight: bold;
}

.nutrition-banner-name-span {
  /* padding: 1rem 1.5rem; */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

@media (max-width: 500px) {
  .nutrition-banner-name-span--1 {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size:  4vw;
    background-image: linear-gradient(
      to right bottom,
      rgba(255, 185, 0, 0.85),
      rgba(255, 119, 48, 0.85)
    );
  }
}

@media (min-width: 501px) and (max-width: 1100px) {
  .nutrition-banner-name-span--1 {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size:  3vw;
    background-image: linear-gradient(
      to right bottom,
      rgba(255, 185, 0, 0.85),
      rgba(255, 119, 48, 0.85)
    );
  }
}

@media (min-width: 1101px) {
  .nutrition-banner-name-span--1 {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size:  4vw;
    background-image: linear-gradient(
      to right bottom,
      rgba(255, 185, 0, 0.85),
      rgba(255, 119, 48, 0.85)
    );
  }
}


@media (max-width: 500px) {
  .nutrition-banner-name-span--2 {
    position: absolute;
    bottom: 8px;
    right: 40px;
    font-size: 4vw;
    background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.85),
      rgba(40, 180, 133, 0.85)
    );
  }
}

@media (min-width: 501px) and (max-width: 1100px) {
  .nutrition-banner-name-span--2 {
    position: absolute;
    bottom: 8px;
    right: 40px;
    font-size: 3vw;
    background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.85),
      rgba(40, 180, 133, 0.85)
    );
  }
}

@media (min-width: 1101px) {
  .nutrition-banner-name-span--2 {
    position: absolute;
    bottom: 8px;
    right: 40px;
    font-size: 4vw;
    background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.85),
      rgba(40, 180, 133, 0.85)
    );
  }
}

.toppings-list {
  float: left;
  width: 100%;
  line-height: 80%;
}


.toppings-title {
  display: block;
  margin-top: 50px;
  margin-bottom: -10px;
  font-size: 32px;
}

.toppings-item {
  margin-bottom: 20px;
}

.toppings-name {
  font-weight: bold;
  /* margin-bottom: 15px; */
}

.topping-description {
  display: block;
}

.toppings-banner {
  position: relative;
  margin-bottom: 50px;
}

.toppings-img {
  float: left;
  max-width: 100px;
  max-height: 100px;
  float: left;
  margin: 0px 10px 5px 5px;
}

.nutrition-table {
  table-layout: fixed;
  width: 180px;
  float: left;
}
.nutrition-name {
  width: 180px;
}
.nutrition-value {
  width: 180px;
}

.nutrition-banner-price {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 64px;
}
