<mat-dialog-content class="mat-typography">


  <div>

    <img src="assets/img/pizza/{{pizza.imagePath}}" [alt]="pizza.name" class="mod-image" layout-fill>

    <div class="top-left">{{ pizza.name }}</div>
  </div>
  <div>{{ pizza.description }}</div>


  <mat-list role="list">
    <mat-list-item role="listitem">Calories: {{ pizza.calories }}</mat-list-item>
    <mat-list-item role="listitem">Fat: {{ pizza.fat }}</mat-list-item>
    <mat-list-item role="listitem">Trans: {{ pizza.transfat }}</mat-list-item>
    <mat-list-item role="listitem">Sodium: {{ pizza.sodium }}</mat-list-item>
    <mat-list-item role="listitem">Price: {{ pizza.price }}</mat-list-item>
  </mat-list>



  <div fxLayout-gt-sm="column"  fxLayout.ls-sm="row">
    <div class="child-1" [ngStyle]="{'background-color':'primary'}" *ngFor="let topping of pizza.toppings;
    let i = index">
    {{ topping.name}}
    Alfred
    </div>
  </div>
  <!--
  <mat-list>
    <mat-list-item>
      <mat-card class="topping-card"
      [ngStyle]="{'background-color':'primary'}"
      *ngFor="let topping of pizza.toppings;
      let i = index"
      >
        <mat-card-header>
          <mat-card-title>{{ topping.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="topping-img" src="assets/img/toppings/{{topping.imagePath}}" [alt]="pizza.name">
        <mat-card-content>
          {{ topping.description}}
        </mat-card-content>

      </mat-card>

    </mat-list-item>
  </mat-list> -->

</mat-dialog-content>
