
<div class="salad-content">
<div class="mat-display-2">Pasta and Salad</div>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-grid-list [gutterSize]="10" [cols]="breakpoint" color="primary" rowHeight="2:0.5" (window:resize)="onResize($event)"
  class="grid-list" *ngIf="!isLoading">

  <mat-grid-tile class="grid-tile" [ngStyle]="{'background-color':'primary'}"
    *ngFor="let salad of salads; let i = index" (click)="onOpenNutrition(salad)">

    <div class="story">

      <figure class="story_shape">
        <img src="assets/img/pasta/{{salad.imagePath}}" [alt]="salad.name" class="story__img" layout-fill>


        <div class="salad-banner-name-span">
          <div class="salad-banner-name-span--2">${{salad.price}}</div>
          <div class="salad-banner-name-span--1">{{salad.name}}</div>


        </div>



      </figure>

    </div>

  </mat-grid-tile>

</mat-grid-list>
</div>

