<mat-dialog-content class="nutrition-modal">

  <div class="toppings-banner">

    <img src="assets/img/salad/{{salad.imagePath}}" [alt]="salad.name" class="modal-image" layout-fill>
    <h4 class="nutrition-banner-name">
      <div class="nutrition-banner-name-span nutrition-banner-name-span--1">{{ salad.name }}</div>
    </h4>
    <h4 class="nutrition-banner-name">
      <div class="nutrition-banner-name-span nutrition-banner-name-span--2">Just ${{ salad.price }}!</div>
    </h4>

  </div>
  <div>{{ salad.description }}</div>

  <br>
  <div class="nutrition">
    Calories: {{ salad.calories }} |
    Fat: {{ salad.fat }} |
    Transfat: {{ salad.transfat }} |
    Sodium: {{ salad.sodium }}
  </div>

  <div class="toppings-title">

    Toppings
  </div>
  <br>
  <div [ngStyle]="{'background-color':'primary'}" *ngFor="let topping of salad.toppings;
  let i = index" class="toppings-list">
    <div class="toppings-image">
      <img mat-card-image class="toppings-img" src="assets/img/toppings/{{topping.imagePath}}" [alt]="salad.name">
    </div>
    <div class="toppings-name">
      {{ topping.name }}
    </div>
    <div class="toppings-description">
      {{ topping.description }}
    </div>
  </div>
</mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Order Now</button>
  </mat-dialog-actions>

