<section class="specials01" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
  <mat-card fxFlex="400px" fxFlex.xs="100%">
    <mat-card-title fxLayoutAlign="center">
      Time to start a workout
    </mat-card-title>
    <mat-card-content fxLayoutAlign="center">
      <mat-form-field>
        <mat-label>Favorite food</mat-label>
        <mat-select placeholder="Favorite Food" ngModel name="specials">
          <mat-option *ngFor="let special of specials" [value]="special.id">
            {{ special.name }}
          </mat-option>

        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button type="submit" mat-button [disabled]="f.invalid">Start</button>
    </mat-card-actions>
  </mat-card>
</form>
</section>
