

  <mat-tab-group mat-align-tabs="center" class="tabs">
    <mat-divider [inset]="true"></mat-divider>
    <mat-tab label="Signature Pizzas" class="mat-display-4">

      <app-specials-list></app-specials-list>
    </mat-tab>
    <mat-tab label="Old Favourites" class="mat-display-4">

      <app-pizza-list></app-pizza-list>
    </mat-tab>
    <mat-tab label="Pasta & Salads" class="mat-display-4" isActive="true">

      <app-salad-list></app-salad-list>
    </mat-tab>
    <mat-tab label="Classic Sides" class="mat-display-4">

      <app-sides-list></app-sides-list>
    </mat-tab>

    <!-- <mat-tab label="Make" class="mat-display-4">

    <app-sides-list></app-sides-list>
  </mat-tab> -->
  </mat-tab-group>

