mat-form-field {
  width: auto;
}


.signup-form {
  margin-top: 300px;
  margin-bottom: 300px;
}

@media only screen and (max-width: 400px) {
  .signup-form {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 800px) {
  .signup-form {
    margin-top: 200px;
    margin-bottom: 200px;
  }
}

