<!-- <app-header></app-header> -->
<!-- <app-menu></app-menu> -->

<div class="front-page">
  <div class="top-banner" fxLayout fxHide.lt-sm fxLayout="row" fxLayoutAlign="start" fxLayoutGap="50px"
    fxLayoutGap.xs="0">
    <div class="front-card" fxFlex="100" fxFlex.sm="0">

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Our Promise to You</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          The promise of pure, or as Nonna would say, puro, is the foundation of everything we do. From farmer to
          your
          doorstep, you deserve only the best. It’s why we pledge to source only the best ingredients from farmers
          and
          producers who share our commitment to quality, and it’s why we use recipes and preparation methods that
          ensure our food is as fresh as possible. It’s a promise that’s easy to keep - trust us, you’ll taste the
          difference.
        </mat-card-content>
      </mat-card>


    </div>
  </div>


  <div class="card-links" fxLayout fxLayout.lt-sm="column" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="30px"
    fxLayoutGap.xs="20">

    <div class="front-card" fxFlex.gt-md="25" fxFlex.lt-md="50" fxFlex.lt-sm="100">
      <mat-card routerLink="/menu" routerLinkActive="active" class="example-card">
        <mat-card-header>
          <mat-card-title>Signature Pizzas</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/img/front-classic.jpg" alt="Signature Pizzas">
        <mat-card-content>
          <p>
            Pizza made the way you want it! Whether you're craving a traditional Italian pie or a Chicago deep dish,
            we've got you covered. Made from the freshest ingredients, we import our tomatoes from Italy and source our
            produce and herbs locally.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>TAKE A LOOK</button>
        </mat-card-actions>
      </mat-card>

    </div>

    <div class="front-card" fxFlex.gt-md="25" fxFlex.lt-md="50" fxFlex.lt-sm="100">
      <mat-card class="example-card" routerLink="/menu" routerLinkActive="active">
        <mat-card-header>
          <mat-card-title>Old Favourites</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/img/front-signature.jpg" alt="Classic Pizza">
        <mat-card-content>
          <p>
            With tons of healthy options, there is something for everyone at Pizza Projekt. To top it all off, we make
            our sauce and dough fresh in-house everyday, and our crust is egg and dairy free! We're passionate about our
            pizzas, and we can't wait to share them with you!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>TAKE A LOOK</button>
        </mat-card-actions>
      </mat-card>

    </div>

    <div class="front-card" fxFlex.gt-md="25" fxFlex.lt-md="50" fxFlex.lt-sm="100">
      <mat-card class="example-card" routerLink="/menu" routerLinkActive="active">
        <mat-card-header>
          <mat-card-title>Salads & Sandwiches</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/img/front-sandwich.jpg" alt="Italian Sandwiches">
        <mat-card-content>
          <p>
            Anyone can slap stuff between two slices of bread and call it a sandwich. But what makes it sing?
            Architecture. The balance of flavors and textures that make each bite harmonious. The care for logistics
            that keeps a tomato from sliding out. There’s a reason it’s called “building” a sandwich.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>TAKE A LOOK</button>
        </mat-card-actions>
      </mat-card>

    </div>

    <div class="front-card" fxFlex.gt-md="25" fxFlex.lt-md="50" fxFlex.lt-sm="100">
      <mat-card class="example-card" routerLink="/menu" routerLinkActive="active">
        <mat-card-header>
          <mat-card-title>Desserts</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/img/front-dessert.jpg" alt="Desserts">
        <mat-card-content>
          <p>
            OUR DESSERTS
            What makes our frozen, premium desserts a cut above the rest? It’s the combination of the highest quality
            ingredients and uncompromising quality. We use a high percentage of cream cheese, whipping cream, sour cream
            and REAL butter, as well as Halal and Kosher certified gelatin.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>TAKE A LOOK</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>
  <div class="banner-bottom" fxLayout fxHide.lt-sm fxLayout="row" fxLayoutAlign="start" fxLayoutGap="50px"
    fxLayoutGap.xs="0">
    <div class="front-card" fxFlex="100" fxFlex.xs="0">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Make Your Own</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>TAKE A LOOK</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>
</div>
