.welcome {
  text-align: center;
}

.front-page {

  margin: 15px;

}

.card-links {
  cursor: pointer;
  margin: 25px;
}
/*
.front-card {
  width: 200px;
  height: 500px;
} */

.title {
  /* position: absolute; */
}

.title-01 {
  float: left;
}

.title-01-image {
  top: -90px;
  left: -150px;
  height: 30px;
  width: 30px;
  float: right;
}








